attrs==25.3.0
cdsapi==0.7.6
certifi==2025.6.15
charset-normalizer==3.4.2
ecmwf-datastores-client==0.2.0
idna==3.10
multiurl==0.3.5
numpy==2.0.2
pandas==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
